In [2]:
import geopandas as gpd
import glob
import os

In [21]:
gdf = gpd.read_file("preprocessing_data/inter/patch_shp/8bit.4.shp")

In [24]:
gdf.x.min()

18

In [13]:
gdf_data0

       x    y                  geometry
0    888   33  POINT (-4.23944 5.42038)
1    887   68  POINT (-4.23945 5.42023)
2    904   58  POINT (-4.23937 5.42027)
3    901   25  POINT (-4.23938 5.42042)
4    918   32  POINT (-4.23931 5.42039)
..   ...  ...                       ...
612  542  444  POINT (-4.24097 5.41857)
613  556  434  POINT (-4.24091 5.41861)
614  543  461  POINT (-4.24097 5.41849)
615  540  258  POINT (-4.24098 5.41939)
616  556  325  POINT (-4.24091 5.41909)

[617 rows x 3 columns]

In [7]:
gdf_data0['width'] = 18/256 # Assuming the bbox of every palm tree to be 9x9 pixels
gdf_data0['height'] = 18/256

In [15]:
gdf_data0['x'] = (gdf_data0.loc[:, 'x']- 256 * i)/256
gdf_data0['y'] = (gdf_data0.loc[:, 'y'])/256

In [16]:
gdf_data0.drop(columns= 'geometry', inplace = True)

In [17]:
gdf_data0['class'] = 0

In [18]:
gdf_data0 = gdf_data0.reindex(columns= ['class', 'x', 'y', 'width', 'height'])

In [19]:
gdf_data0

     class         x         y     width    height
0        0  0.734375  0.064453  0.039062  0.039062
1        0  0.732422  0.132812  0.039062  0.039062
2        0  0.765625  0.113281  0.039062  0.039062
3        0  0.759766  0.048828  0.039062  0.039062
4        0  0.792969  0.062500  0.039062  0.039062
..     ...       ...       ...       ...       ...
612      0  0.058594  0.867188  0.039062  0.039062
613      0  0.085938  0.847656  0.039062  0.039062
614      0  0.060547  0.900391  0.039062  0.039062
615      0  0.054688  0.503906  0.039062  0.039062
616      0  0.085938  0.634766  0.039062  0.039062

[617 rows x 5 columns]

In [20]:
gdf_data0.to_csv('data1.txt', index = False, sep=" ", header=None)

In [25]:
for path in glob.glob("preprocessing_data/inter/patch_shp/*.shp"):
    gdf = gpd.read_file(path)
    file_name = os.path.splitext(os.path.split(path)[1])[0]
    patch_no = int(file_name.split('.')[1])
    gdf['width'] = 18/256 # Assuming the bbox of every palm tree to be 9x9 pixels
    gdf['height'] = 18/256
    if patch_no < 4:
        gdf['x'] = (gdf.loc[:, 'x'] - (256 * patch_no))/256
        gdf['y'] = (gdf.loc[:, 'y'])/256
    else:
        gdf['x'] = (gdf.loc[:, 'x'] - (256 * abs(patch_no-4)))/256
        gdf['y'] = (gdf.loc[:, 'y']- 256)/256
    
    gdf.drop(columns= 'geometry', inplace = True)
    gdf['class'] = 0    
    gdf = gdf.reindex(columns= ['class', 'x', 'y', 'width', 'height'])
    
    print(patch_no, path)
    
    gdf.to_csv(f'preprocessing_data/inter/label_txt/{file_name}.txt', index = False, sep=" ", header=None)

0 preprocessing_data/inter/patch_shp/8bit.0.shp
1 preprocessing_data/inter/patch_shp/8bit.1.shp
3 preprocessing_data/inter/patch_shp/8bit.3.shp
2 preprocessing_data/inter/patch_shp/8bit.2.shp
6 preprocessing_data/inter/patch_shp/8bit.6.shp
7 preprocessing_data/inter/patch_shp/8bit.7.shp
5 preprocessing_data/inter/patch_shp/8bit.5.shp
4 preprocessing_data/inter/patch_shp/8bit.4.shp